@font-face {
    font-family: 'Anson';
    src: url('Anson.woff') format('woff');
}

h1 {
    font-family: 'Anson' !important;
}

#headshot {
    border-radius: 50%;
    display: block;
    margin: 0 auto 40px;
    max-width: 480px;
}

#photos {
    margin: 0 auto;
    width: 720px;
    min-height: 480px;
}

#photos > img {
    display: none;
    max-width: 720px;
}

.displayed {
    display: block !important;
}

#captions {
    margin-top: 10px;
    text-align: center;
}

#captions > span {
    display: none;
}
