body {
    background-color: #383134;
}

.main {
    color: #2aa198;
    font-family: sans-serif;
    line-height: 1.25em;
    padding: 40px;
    width: 960px;
}

.main > div {
    margin-bottom: 40px;
}

h1 {
    color: #FC4628;
    font-family: Impact, sans-serif;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 40px;
    margin-top: 0;
}

.hoverable:hover {
    color: #FFDD1C;
}

p {
    margin-bottom: 10px;
}

a {
    color: #2aa198;
}

#photos {
    margin: 0 auto;
    width: 720px;
    min-height: 480px;
}

#photos > img {
    display: none;
    max-width: 720px;
}

.displayed {
    display: block !important;
}

#captions {
    color: white;
    margin-top: 10px;
    text-align: center;
}

#captions > span {
    display: none;
}
