@font-face {
  font-family: 'Hack';
  src: url('hack.woff2') format('woff2');
  font-display: swap;
}

body {
  background-color: black;
  color: white;
  font-family: 'Hack', monospace;
}

main {
  margin: 40px auto;
  max-width: 960px;
  padding: 0 10px;
}

main > div {
  margin-bottom: 40px;
}

h1 {
  color: #20C20E;
  font-size: 4em;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
}

@media (max-width: 640px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  color: #00E5FF;
  font-size: 2em;
}

p {
  line-height: 1.25em;
  margin-bottom: 10px;
}

a {
  color: #20C20E;
  text-decoration: none;
}

img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}
