@font-face {
  font-family: 'Hack';
  src: url('hack.woff2') format('woff2');
  font-display: swap;
}

body {
  background-color: #282c34;
  color: #bbc2cf;
  font-family: 'Hack', monospace;
}

.main {
  margin: 40px auto;
  max-width: 960px;
  padding: 0 10px;
}

.main > div {
  margin-bottom: 40px;
}

h1 {
  color: #51afef;
  font-size: 4em;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
}

h2 {
  color: #7bc275;
  font-size: 2em;
}

p {
  line-height: 1.25em;
  margin-bottom: 10px;
}

a {
  color: #a9a1e1;
  text-decoration: none;
}

img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
