@font-face {
  font-family: 'Anson';
  src: url('Anson.woff') format('woff');
  font-display: swap;
}

h1 {
  font-family: 'Anson';
}

#headshot {
  border-radius: 50%;
  display: block;
  margin: 0 auto 40px;
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
}

#photos {
  margin: -20px auto 10px;
  max-width: 1920px;
  aspect-ratio: 1.5;
}

#captions {
  text-align: center;
  margin-bottom: 20px;
}
