@font-face {
    font-family: 'Anson';
    src: url('Anson.woff') format('woff');
}

h1 {
    font-family: 'Anson';
}

.main > div {
    margin-bottom: 40px !important;
}

#headshot {
    border-radius: 50%;
    display: block;
    margin: 0 auto 40px;
    max-height: 480px;
    max-width: 480px;
}

#photos {
    margin: 0 auto;
    width: 720px;
    min-height: 480px;
}

#photos > img {
    max-width: 720px;
}

#captions {
    margin-top: 10px;
    text-align: center;
}
