@font-face {
  font-family: 'Anson';
  src: url('Anson.woff') format('woff');
  font-display: swap;
}

h1 {
  font-family: 'Anson';
}

#headshot {
  border-radius: 50%;
  display: block;
  margin: 0 auto 40px;
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
}

#photos {
  margin: -20px auto 10px;
  max-width: 1920px;
  height: 1280px;
}

@media (max-width: 1936px) {
  #photos {
    height: 66vw;
  }
}

#photos img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

#captions {
  text-align: center;
  margin-bottom: 20px;
}
